.addBox
  padding: 10px;
  width: 1200px;
  margin: auto;

  .addBoxLeft
    margin: auto;
    padding: 0 100px;

  .addBoxRight
    margin: auto;
    padding: 0 100px;

  .formRow
    margin-bottom: 20px;
    position: relative;
    padding-left: 110px;
    min-height: 32px;

    .fromName
      position: absolute;
      top: 8px;
      left: 0;
      width: 100px;
      text-align: right;

    .selectColor
      position: relative;

      .iconBox
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        z-index: 1;

        .add
          color: #19be6b;
          cursor: pointer;

        .reduce
          color: #ff9900;
          cursor: pointer;

      .colorLi
        position: relative;
        margin-bottom: 10px;

        .selectLiBox
          margin: 0 50px 10px 10px;

          .selectLi
            width: 20%;
            padding: 0 6px;

        .addImgBox
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 26px;
          font-size: 20px;
          color: #19be6b;

      .imgBox
        height: 40px;
        width: 40px;
        padding: 4px;
        border: 1px solid #dcdee2;
        margin-right: 10px;
        position: absolute;
        top: -4px;
        left: 6px;
        cursor: pointer;

        img
          max-height: 100%;

      .textBox
        margin-right: 50px;
        margin-left: 60px
        margin-bottom: 10px;

      .valueBox
        position: absolute;
        top: 0;
        right: 60px;
        width: 96px;

      .priceBox
        position: absolute;
        top: 0;
        right: 60px;

      .parameterBox
        width: 110px;
        position: absolute;
        top: 0;
        let: 0;

      .parameterValue
        margin-left: 120px;
        margin-right: 50px;

.imageUl
  margin-right: -4px;

  .imageLi
    width: 68px;
    height: 68px;
    margin-right: 4px;
    margin-bottom: 4px;
    background: #efefef;
    padding: 2px;
    position: relative;
    text-align: center;

    .closeIcon
      position: absolute;
      top: -5px;
      right: -5px;
      z-index: padding;
      cursor: pointer;
      color: #ff9900;

      &:hover
        color: #ed4014;

    img
      max-height: 100%;
      max-width: 100%;

  .addClickBox
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    color: #19be6b;
    cursor: pointer;

.detailsBox
  padding: 40px;

  .fromName
    padding: 20px;

  .editorBox
    min-height: 700px;

.saveBox
  text-align: center;
  margin-top: 40px;

  .btn
    margin-right: 20px;

.promotionSpan
  display: inline-block;
  padding: 0 10px;
